.logo
  height: 32px
  margin: 26px


.logoInt
  left: -100%
  right: -100%
  top: -100%
  bottom: -100%
  margin: auto
  min-height: 100%
  min-width: 100px


nz-sider
  overflow: auto
  height: 100%
  position: fixed
  left: 0
  background: #1F2A13
  //background-image: url("src/assets/background/camuflaje.jpg")

nz-header
  background-color: darkolivegreen
  padding: 0

.menu
  color: white
  background-color: darkolivegreen

.items-menu:focus-within
  background: #606C38
  color: white

.items-menu:hover
  background: #283618
  color: whitesmoke




