.logo
  height: 32px
  margin: 26px

.logoInt
  left: -100%
  right: -100%
  top: -100%
  bottom: -100%
  margin: auto
  min-height: 100%
  max-width: 100%
  width: 100px

nz-sider
  overflow: auto
  height: 100%
  left: 0
  background: #1f2a13

nz-header
  background-color: #1f2a13
  padding: 0

.menu
  color: white
  background-color: #1f2a13

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected
  background: #606C38
