<nz-sider>
  <div class="logo" align="center"><img class="logoInt" src="assets/icons/logo.svg" width="16" height="32"></div>
  <ul class="menu" nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item routerLink="" class="items-menu">
      <i nz-icon nzType="home"></i>
      <span>Inicio</span>
    </li>
    <li nz-menu-item routerLink="/noticias" class="items-menu">
      <i nz-icon nzType="global"></i>
      <span>Noticias</span>
    </li>
    <li nz-menu-item  routerLink="/contacto" class="items-menu">
      <i nz-icon nzType="phone"></i>
      <span>Contacto</span>
    </li>
  </ul>
</nz-sider>
