.notice_1
  text-align: justify
  //text-align-all: justify
  padding: 5%
  box-shadow: 5px 5px 5px 5px #595959
  background-color: white
  border-radius: 10px

.imgNew
  width: 600px
  height: 400px


.title-new
  font-weight: bold
