<div class="formulario">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>ID</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Ingreasa el ID del la Noticia a Eliminar">
        <input nz-input type="text" formControlName="product_id"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>

  </form>


</div>
