.contenedor
  text-align: center

.title
  font-weight: bold
  font-size: 30px

.contenedorInt
  display: block
  margin: auto
  height: auto
  max-width: 100%
  width: 500px
  height: 360px


[nz-carousel-content]
  background: #000c17
  margin: auto
  width: 500px
  height: 360px
  line-height: 160px
  color: #fff
  overflow: hidden

//.imgHome
//  height: auto
//  max-width: 100%
