<div class="contenedor">

    <div>
      <h1 class="title">Info Colombia</h1>
      <p>Info Colombia es un sitio enfocado en compartir noticias e información sobre la
        defensa y seguridad del pais.</p>
    </div>

    <div class="contenedorInt">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let item of imagesHome">
          <img class="imgHome" style="width: 100%; height: 100%" src="{{item.imagen}}" alt="">
        </div>
      </nz-carousel>
    </div>

</div>



